.brand {
  text-align: center;
  padding: 32px;
  background-blend-mode: multiply;
  position: relative;
}

.brand h3 {
  border-bottom: 4px solid;
  display: inline-block;
  font-size: 32px;
  padding-bottom: 8px;
}

.brand .cars {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}

.color-input {
  position: absolute;
  top: 20px;
  right: 50px;
}
